.accountCustomer .currentRequestsBlock{
	border: 4px solid #008dd7;
	border-radius:1%;
	font-family: 'Arvo';
}
.accountCustomer .currentRequestsBlock h1{
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: #008dd7;
	margin-top: 0;
	padding-bottom: 1%;
	margin-bottom: 0;
}
.accountCustomer .currentRequestsBlock .requests{
	color:#008dd7;
	border: 4px solid #357ebd;
	padding: 1%;
	display: inline-block;
	width: 100%;
	font-size: 160%;
	text-align: center;
	line-height: 330%;

}
.accountCustomer .currentRequestsBlock .requests img{
	max-width: 100%;
	border: 2px solid #008dd7;
	border-radius:2%;
}
.accountCustomer .currentRequestsBlock .requests span{
	font-weight: bold;
	line-height: 10%;
}
.accountCustomer .currentRequestsBlock .requests .waiting{
	color:#5cb85c;
}