
.customerSignUpBlock{
	background-color: #008dd7;
	border-radius: 2%;
	border: 4px solid #006FD7;
	padding-bottom: 5%;
	padding-top: 5%;
	text-align: center;
}
.customerSignUpBlock h1{
	text-align: center;
	font-size: 500%;
	color: white;
	font-family: 'Arvo';
	font-weight: bold;
	margin-bottom: 3%;
}
.customerSignUpBlock label{
	margin-top: 2%;
	font-size: 230%;
	color: white;
	font-family: 'Arvo';
}
.customerSignUpBlock input{
	width:50%;
	margin: auto;
	
}
.customerSignUpBlock button{
	margin-top: 2%;
	font-size: 230%;
	color: #008dd7;
}
.customerSignUpBlock p{
	font-family: 'Arvo';
	font-weight: bold;
}