.artistSignUpBlock{
	background-color: #fd9001;
	border: 4px solid #fb6e04;
	border-radius: 2%;
	padding-bottom: 5%;
	padding-top: 0%;
	text-align: center;
}
.artistSignUpBlock h1{
	text-align: center;
	font-size: 500%;
	color: white;
	font-family: 'Arvo';
	font-weight: bold;
	margin-bottom: 3%;
}
.accountinfo label{
	margin-top: 2%;
	font-size: 230%;
	color: white;
	font-family: 'Arvo';
}
.artistSignUpBlock input{
	width:50%;
	margin: auto;
	
}
.navigationBlock button{
	margin-top: 2%;
	font-size: 230%;
	color: #fb6e04;
}
.accountinfo p{
	font-family: 'Arvo';
	font-weight: bold;
}
.artistSignUpBlock .navigationBlock{
	width: 80%;
	margin-left:10%;
	margin-top:5%;
}
.progress{
	margin: auto;
}
.progressBar{
	margin: auto;
	color:white;
	background-color: #fb6e04;
}
.explan{
	color:white;
	font-family: 'Arvo';
	font-size: 150%;
}
.compselecting{
	background-color: white;
	border: 4px solid #fb6e04;
	border-radius: 3%;
	margin-top: 2%;
	margin-right: 2%;
}
.quachoice{
	color:white;
}
.compselected{
	border: #008dd7 4px solid;
	color:#008dd7;
}
.compselecting label{
	background-color: white
}
.compselected label{
	background-color:#008dd7;
}
.compselected label.active{
	background-color: #006FD7;
	border:2px solid #008dd7;
}
.comptitle{
	font-family: 'Arvo';
	font-weight: bold;
	font-size: 150%;
	color:#fb6e04;
	cursor:pointer;
}
.quablock{
	text-align: center;
	margin-bottom: 3%;
}
.explanQQ{
	color:white;
	font-size: 140%;
	line-height: 200%;
	font-family: 'Arvo';
}
.explanQQPrice{
	margin-top: 3%;
	color:white;
	font-weight: bold;
	font-size: 140%;
	line-height: 200%;
	font-family: 'Arvo';
}
.pricingtable{
	width: 50%;
	text-align: center;
	margin-left: 25%;
	font-family: 'Montserrat';
	border: 2px solid white;

}
.pricingtable td{
	color:white;
	font-size: 120%;
	font-family: 'Arvo';
	cursor: default;
}
.pricingtable tr:hover td{
	color:#fb6e04;
}
.ratinglegend{
	height: 10%;
	margin-left: 2%;
}
.completepricing{
	margin-top: 0;
	color: white;
	font-family: 'Arvo';
	font-weight: bold;
	text-decoration: underline;
}
.checkboxQQ{
	color:white;
	font-family: 'Arvo';
	font-weight: bold;	
	font-size: 150%;
	margin-top: 4%;
}
.specskill{
	display:inline-block;
	text-align: center;
	margin-top: 1%;
	padding-bottom: 5%;
	height: 100%;
	width: 100%;
}
.skill{
	margin-top: 1%;
	border: white 5px solid;
	font-size: 200%;
	padding: 1%;
}
.skillattr{
	text-align:right;
	color: white;
	font-family: 'Arvo';
	font-weight: bold;
	margin-top: 3%;
}
.skillinput{
	margin-top: 3%;
	text-align: left;
}
.skillinput input{
	width: 100%;
}

.skillimg{
	margin-top: 3%;
	width: 100%;
	border: #008dd7 4px solid; 
}
#remSkill{
	cursor: default;
	text-align: center;
	display: inline;
	right: 0;
	top:-5%;
	position: absolute;
}
.explanSV{
	color:white;
	font-size: 140%;
	line-height: 200%;
	font-family: 'Arvo';
	width: 80%;
	margin: auto;
}
.formvalid{
	margin-top: 5%;
}
.formvalid button{
	font-size: 200%;
}