<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Styley</h1>
    <p class="lead">Unleash your imagination!</p>
    <button class="btn btn-success btn-lg" ui-sref="requestCreation">Start a request</button>
    <button class="btn btn-success btn-lg" ui-sref="exploreCreations">Explore Creations</button>
  </div>
</header>

<div class="container">
  <div deckgrid class="deckgrid" source="photos">
    <div class="a-card">
      <img class="imagegrid" src="" data-ng-src="/qqrequest/samples/{{card.src[0]}}" ng-click="mother.modalPic(card)">
      <div class="overpic">
        <button class="btn btn-circle btn-vote btn-success addVote" ng-click="mother.vote(card)">{{card.vote}} ❤</button>
      </div>
    </div>
  </div>
</div>

<footer></footer>
