.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  background-image: url("./../../assets/images/header.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner h1 {
  font-size: 1000%;
  line-height: 100%;
  letter-spacing: -1px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: 2%;
}

.hero-unit {
  position: relative;
  padding: 2% 2%;
  color: #F5F5F5;
  text-align: center;
  background: #4393B9;
}

.lead {
  color: #F5F5F5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-text {
  margin-left: 15px;
}
/*.navbar-background {
  background-image: url("/assets/images/logowhite.png");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 21.75% center;
}*/
.logo{
  width: 30px;
}
.brand{
  vertical-align: middle;
}
.navbar-brand{
  padding: 9px 9px;
  cursor: pointer;
}

.btn-primary{
  background-color: #008dd7;
}


.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

.deckgrid .column-1-1 {
    width: 100%;
}

@media screen and (max-width: 480px){
    .deckgrid[deckgrid]::before {
        content: '1 .column.column-1-1';
    }
}

.imagegrid{
  max-width: 80%;
}