.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  background-image: url("./../../assets/images/header.jpg");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#banner h1 {
  font-size: 1000%;
  line-height: 100%;
  letter-spacing: -1px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-bottom: 2%;
}

.hero-unit {
  position: relative;
  padding: 2% 2%;
  color: #F5F5F5;
  text-align: center;
  background: #4393B9;
}

.lead {
  color: #F5F5F5;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-text {
  margin-left: 15px;
}
