.request-addperson .recapdiv .picturerecap{
    max-width: 100%;
    max-height:334px;
}

.request-addperson .recapdiv{
        text-align: center;
}

.request-addperson .srcpicturezone{
	display: block;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 100%;
	border: 2px solid black;
}
.request-addperson .basepicturezone{
	display: block;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 100%;
	border: 2px solid black;
}
.request-addperson .imagescol{
	position:relative;
}