.modal-header{
	text-align: center;
	font-weight: bold;
  font-family: 'Arvo';
	font-size: 300%;
}

.imageBlock{
	display: inline-block;
	width: 80%;
	background-color: #008dd7;
	margin-left: 10%;
	padding-top: 2%;
	padding-bottom: 2%;
	border-radius: 10%;
	border: 2px solid black;
}

.slider{
	max-width:50%;
	margin-left: 2%;
}

.imageLegend{
	text-align: center;
	font-size: 150%;
	font-weight: bold;
	line-height: 120%;
	margin-top: 8%;
	margin-left: 3%;
	color: white;
  font-family: 'Arvo';
}

.titleRequest{
	font-weight: bold;
  font-family: 'Arvo';
	font-size: 300%;
	color: #008dd7;
}

.explanation{
	text-align: center;
}

.explanationStage{
  font-family: 'Arvo';
	font-size: 140%;
	display: block;
	line-height: 100%;
	margin-bottom:2%;
}

span[class^="explanationStage"]::first-letter{
	font-weight: bold;
	font-size: 170%;
	color: #008dd7;
	
}

.explanationFinal{
	margin-top:5%;
	margin-bottom:-3%;
	font-family: 'Arvo';
	font-size: 170%;
	display: block;
	font-weight: bold;
	color: #008dd7;
}
