<div class="modal-complete">
	<div class="modal-header">
		Remove a person
	</div>
	<div class="modal-body">
    <div ng-show="step==1">
      <div class="imageBlock">		
        <div class="slider col-lg-7">
	        <div class="left image"> <img src="{{sliderSrc1}}"/> </div>
	  	    <div class="right image"> <img src="{{sliderSrc2}}"/> </div>
	  	  </div>
        <div class="imageLegend col-lg-5">
        <span>Select the separator on the left on the picture and drag it to see an example of realisation</span> 
        </div>
      </div>
  		<div class="explanation">
  			<h3 class="titleRequest">How it works</h3>
  			<span class="explanationStage">1<br />In the next steps, you will choose what element(s) you want to remove on your picture, the desired quality and every additional information.</span>
  			<span class="explanationStage">2<br />A price will be automatically calculated and, if you finalize the request, a graphic artist matching your criteria will be suggested.</span>
  			<span class="explanationStage">3<br />You can refuse the suggested artist as many times as you want. In this case, an other artist will be suggested.</span>
  			<span class="explanationStage">4<br />Once you have accepted an artist, your photo will be sent to him and you will receive the result of your request in the next 48 hours.</span>
  			<span class="explanationFinal">In any case, nothing is sent until you finalize your request on the last step by clicking on the very distinctive button "Finalize" :)</span>
  		</div>
    </div>

<!-- step 2 -->
    <div ng-show="step==2" class="step2">
      	<span class="explanationStage col-lg-6" ng-hide="imageAsk">First, choose the picture you want to use:</span>
			<div class="col-lg-6">
        <button class="btn btn-primary btn-large" type="file" ngf-select="loadFiles($file, $invalidFiles)" ngf-max-size="20MB" accept="image/*" ng-hide="imageAsk">Upload</button>
			</div>
      <div class="area" ng-class="{redpointer:redPointer}">
				<img class="picturezone" id="picturezone" ngf-thumbnail="file || '/assets/images/white.png'" ng-mouseup="clickOnImg($event)">
				<div class="placedbuttons" ng-repeat='(index,btn) in btnPlaced'>
				<img  id="{{ 'btn' + (index+1) }}" class="dragbtn noselect" ng-src="/assets/images/red_round_button.png" ng-style="{'left':btn.posLeft+24, 'top': btn.posTop}" >
				<input type="image" src="/assets/images/round_close_button.png" type="button" ng-style="{'left':btn.posLeft+8, 'top': btn.posTop+8}" ng-click="removePlaced(index)" class="noselect"/>
				</div> 
				<div class="symbolstodrag" ng-show="file">
					 <input id="redbtn" type="radio" name="buttons" value="redbtn" ng-click="select(red)" ng-checked="redPointer"/>
					 <label class="buttons redbtn" for="redbtn"></label>
				</div>
				<div class="explanation2" ng-show="file">
				<span class="explanationStage">Now, you can select the red dot and put it on the person you want to remove</span>
				<span class="explAnd"> and </span>
				<span class="explanationStage" >Add any additionnal information you want to provide about your desires:</span>
				<textarea class="addInfo" ng-model="infos">
        </textarea>
				</div>
			</div>
    </div>
    
    <div ng-show="step==3">
      <div class="recapdiv" id="recapdiv">
        <img class="picturerecap" id="picturerecap" ngf-thumbnail="file">
        <div class="placedbuttons" ng-repeat='(index,btn) in btnRecap'>
         <img  id="{{ 'btn' + (index+1) }}" class="dragbtn noselect" ng-src="/assets/images/red_round_button.png" ng-style="{'left':btn.posLeft, 'top': btn.posTop}" >
        </div>
      </div> 
      <div class="recap-1">
        <span><br />Modifications Number : </span><span class="numbermod">{{btnPlaced.length}}</span>
      </div>
      <div  class="recap-2">
        <span><br />Wanted Quality :</span>
        <div class="btn-group" ng-click="quaselected(radioModel);">
          <label class="btn btn-success quachoice" ng-model="radioModel" btn-radio="'Good'" uncheckable value="1">Good</label>
          <label class="btn btn-success quachoice" ng-model="radioModel" btn-radio="'Excellent'" uncheckable value="2">Excellent</label>
          <label class="btn btn-success quachoice" ng-model="radioModel" btn-radio="'Perfect'" uncheckable value="3">Perfect</label>
        </div>
        <span class="quainfos">{{qualityMessage}}</span>
      </div>
      <div class="recap-3">
        <span>Additionnal infos : </span><span class="addInfos">{{ addInfos || 'None'}}</span>
      </div>
    </div>

    <div ng-show="step==4">
      step 4
    </div>

  </div>
  <div class="modal-footer">
    <div class="previous">
      <button type="button" class="btn btn-primary btn-lg" ng-click="previousStep()" ng-show="step!=1">Previous</button>
    </div>
    <div class="next">
      <button type="button" class="btn btn-primary btn-lg" ng-click="nextStep()" ng-show="completedStep>=step">Next</button>
 	  </div>
  </div>
</div>
