.qqArtistProposition{
	text-align: center;
	font-family: 'Arvo';
	font-size: 200%;
}
.qqArtistProposition .imageblock{
	margin: auto;
}
.qqArtistProposition .image{
	max-width: 40%;
	border: 2px solid black;
	position: relative;
}
.qqArtistProposition .infos{
 margin-top: 3%;
}
.qqArtistProposition .infos span{
 	margin-top: 3%;
 	color:#008dd7;
 	font-weight: bold;
}
.qqArtistProposition .reput{
	margin-top: 2%;
	margin-bottom: 0%;
	width: 5%;
}
.qqArtistProposition .infotext{
	margin-top: 3%;
	font-weight: bold;
	font-size: 60%;
	color:#008dd7;
}
.qqArtistPropositionfooter{
	text-align: center;
	margin: auto;
	margin-top: 2%;
}
.qqArtistPropositionfooter button{
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 0.5%;
}