<div class="modal-complete request-improvement">
	<div class="modal-header">
		Drawing
	</div>
	<div class="modal-body">
    <div ng-show="step==1">
      <div class="imageBlock">		
        <div class="slider col-lg-7">
	        <div class="left image"> <img src="{{sliderSrc1}}"/> </div>
	  	    <div class="right image"> <img src="{{sliderSrc2}}"/> </div>
	  	  </div>
        <div class="imageLegend col-lg-5">
        <span>Select the separator on the left of the picture and drag it to see an example of realisation</span> 
        </div>
      </div>
      <div class="explanation">
        <h3 class="titleRequest">How it works</h3>
        <span class="explanationStage">1<br />In the next steps, you will upload an image that you want to improve:
        kinds of improvements will be proposed to you. Of course, you can provide all the missing information if needed.
        Finally you will be asked for the quality you need.</span>
        <span class="explanationStage">2<br />A price will be automatically calculated. If you finalize the request, a graphic artist matching your criteria will be suggested.</span>
        <span class="explanationStage">3<br />You can refuse the suggested artists as many times as you want. In this case, an other artist will be suggested.</span>
        <span class="explanationStage">4<br />Once you have accepted an artist, your photo will be sent to him and you will receive the modified picture in the next 48 hours.</span>
        <span class="explanationFinal">In any case, no artist will see your request while it is not finalized at the last step by clicking on the very distinctive button <span class="orange"> "Finalize" :) </span> </span>
      </div>
    </div>

<!-- step 2 -->
    <div ng-show="step==2" class="step2">
      	<span class="explanationStage" ng-hide="imageAsk">First, choose the picture you want to use:</span>
        <button class="btn btn-primary btn-large" type="file" ngf-select="loadFiles($file, $invalidFiles)" ngf-max-size="20MB" accept="image/*">Upload</button>
    	<div>
			   <img class="picturerecap" id="picturerecap" ngf-thumbnail="file || '/assets/images/white.png'" ng-mouseup="clickOnImg($event)">
  			<div class="explanation2" ng-show="file">
  				<span class="explanationStage">Check aspects in question in the changes that you request:</span>
  				<div class="imprchange">
            <div class="col-lg-2">
    					<img class="iconchange" src="{{exPainting}}"/>
            </div>
            <div class="col-lg-10 checkdiv">
  					  <span class="imageLegend"> PAINTING </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="painting_checked"> </checkbox>
  				  </div>
          </div>
          <div class="imprchange">
            <div class="col-lg-2">
              <img class="iconchange" src="{{exPencil}}"/>
            </div>
            <div class="col-lg-10 checkdiv">
              <span class="imageLegend"> PENCIL </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="pencil_checked"> </checkbox>
            </div>
          </div>
          <div class="imprchange">
            <div class="col-lg-2">
              <img class="iconchange" src="{{exCaricature}}"/>
            </div>
            <div class="col-lg-10 checkdiv">
              <span class="imageLegend"> CARICATURE </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="caricature_checked"> </checkbox>
            </div>
          </div>
          <div class="imprchange">
            <div class="col-lg-2">
              <img class="iconchange" src="{{exManga}}"/>
            </div>
            <div class="col-lg-10 checkdiv">
              <span class="imageLegend"> MANGA </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="manga_checked" value="coloration"> </checkbox>
            </div>
          </div>
          <div class="imprchange">
            <div class="col-lg-2">
              <img class="iconchange" src="{{exAvatar}}"/>
            </div>
            <div class="col-lg-10 checkdiv">
              <span class="imageLegend"> AVATAR </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="avatar_checked"> </checkbox>
            </div>
          </div>
          <div class="imprchange">
            <div class="col-lg-2">
              <div class="sizeusericon"> <i class="fa fa-users"></i> </div>
            </div>
            <div class="col-lg-10 checkdiv">
              <span class="imageLegend"> NUMBER OF PERSONS </br> </span>
              <checkbox largest class="btn-primary margincheckbox" ng-model="number_checked"> </checkbox>
            </div>
          </div>
				<!-- <span class="explAnd"> blur - lights - cropping - coloration - proportions - framing </span> -->
				  <span class="explanationStage" >Add information you want to provide about your desires:</span>
				  <textarea class="addInfo" ng-model="infos">
        	</textarea>
        </div>
		  </div>
    </div>
    
    <div ng-show="step==3">
      <div class="recapdiv" id="recapdiv">
        <img class="picturerecap" id="picturerecap" ngf-thumbnail="file">
        <div class="placedbuttons" ng-repeat='(index,btn) in btnRecap'>
          <!--
         <img  id="{{ 'btn' + (index+1) }}" class="dragbtn noselect" ng-src="/assets/images/red_round_button.png" ng-style="{'left':btn.posLeft, 'top': btn.posTop}" > -->
         <img  id="{{ 'btn' + (index+1) }}" class="dragbtn noselect" ng-src="/assets/images/logo_button.png" ng-style="{'left':btn.posLeft, 'top': btn.posTop}" >
        </div>
      </div> 
      <div class="recap">
        <span class="explanationStage">Number of Modifications : <span class="numbermod">{{btnPlaced.length}}</span> </span>
        <div  class="quality">
          <span class="explanationStage">Desired Quality :</span>
          <div class="quachoice" ng-click="quaselect(radioModel);" ng-class="{'shake shake-chunk shake-constant': radioModel == 0}">
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Good'" value="1">Good</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Excellent'" value="2">Excellent</label>
            <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Perfect'" value="3">Perfect</label>
          </div>
          <div class="quainfos" ng-show="radioModel !== 0">
            <span >{{qualityMessage}}</span>
          </div>
        </div>
        <div class="addinfos">
          <span class="explanationStage" ng-show="infos">Additionnal infos :</span>
          <p class="infosblock" ng-show="infos">{{ infos }}</p>
        </div>
      </div>
    </div>

    <div ng-show="step==4">
      <div>
        <span class="explanationStage">Choose the artist reputation:</span>
        <div class="reputBlock">
          <img  class="reput" ng-src="/assets/images/reputEmpty.png" ng-class="{ratingSelected: noratingSelected,norating: noratingSelected}" ng-click="noratingSelected = !noratingSelected;estimatePrice()">
          <img  class="reput" ng-src="/assets/images/reputBronze.png" ng-class="{ratingSelected: bronzeratingSelected,bronzerating: bronzeratingSelected}" ng-click="bronzeratingSelected = !bronzeratingSelected;estimatePrice()" >
          <img  class="reput" ng-src="/assets/images/reputSilver.png" ng-class="{ratingSelected: silverratingSelected,silverrating: silverratingSelected}" ng-click="silverratingSelected = !silverratingSelected;estimatePrice()" >
          <img  class="reput" ng-src="/assets/images/reputGold.png" ng-class="{ratingSelected: goldratingSelected,goldrating: goldratingSelected}" ng-click="goldratingSelected = !goldratingSelected;estimatePrice()" >
        </div>
        <div>
          <span class="explanationStage">Estimated cost:</span>
          <div class="pricingValue" ng-show="priceSelected">
            <span>{{estimatedPrice}}</span>
          </div>
          <div class="noPrice" ng-hide="priceSelected">
            Select a quality to estimate the price
          </div>
        </div>
        <div ng-show="priceSelected">
          <div ng-include="'components/requestAuth/requestAuth.html'" ng-controller="LoginController" ng-hide="isLoggedIn()"></div>
          <div class="paymentZone" ng-show="isLoggedIn()">
            <h1 class="paymentTitle">Payment</h1>
            <div>
              <input type="text" class="card"/>
              Card Number
            </div>
              <div class="col-lg-8">
                <input type="text" class="card"/>
                Validity date
              </div>
              <div class="col-lg-4 CCV">
                <input type="text" class="card"/>
                CCV
              </div>
          </div>
          <div class="finalize">
            <button class="btn-lg btn btn-finalize" ng-click="submitRequest()" ng-show="isLoggedIn()">Finalize</button>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of modal body -->

  <div class="modal-footer">
    <div class="previous">
      <button type="button" class="btn btn-primary btn-lg " ng-click="previousStep()" ng-show="step!=1">Previous</button>
    </div>
    <div class="next">
      <button type="button" class="btn btn-primary btn-lg" ng-click="nextStep()" ng-show="completedStep>=step">Next</button>
  </div>
</div>
